<nav #navbar class="navbar navbar-expand-lg navbar-light fixed-top py-3" id="mainNav">
    <div class="container px-4 px-lg-5">
        <a class="navbar-brand" routerLink="home">Donantes<span class="color-red">RD</span></a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navbarResponsive" *ngIf="shouldShow">
            <ul class="navbar-nav ms-auto my-2 my-lg-0">

                <li class="nav-item"><a class="nav-link" [routerLink]="ifAuth('donate-blood', 'donate-blood/appointment')" *ngIf="usertype('USER') || usertype('')">Donar Sangre</a></li>
                <li class="nav-item"><a class="nav-link" routerLink="administration" *ngIf="authenticated && hasPermision('ROLE_ADMIN') && usertype('USER')">Administración</a></li>
                
                <li class="nav-item"><a class="nav-link" routerLink="donation-center/new-campaign" *ngIf="authenticated && usertype('DONATION_CENTER')">Nueva Campaña</a></li>
                <li class="nav-item"><a class="nav-link" routerLink="donation-center/campaigns" *ngIf="authenticated && usertype('DONATION_CENTER')">Campañas</a></li>
                <li class="nav-item"><a class="nav-link" routerLink="donation-center/appointments" *ngIf="authenticated && usertype('DONATION_CENTER')">Citas</a></li>
                <li class="nav-item"><a class="nav-link" routerLink="donation-center/reports" *ngIf="authenticated && usertype('DONATION_CENTER')">Reportes</a></li>

                <li class="nav-item"><a class="nav-link" routerLink="profile" *ngIf="authenticated && usertype('USER')">Mi Perfil</a></li>
                <li class="nav-item"><a class="nav-link" routerLink="login" *ngIf="!authenticated">LogIn</a></li>
                <li class="nav-item"><a class="nav-link" (click)="logout()" id="logout-btn" *ngIf="authenticated">Logout</a></li>
                <li class="nav-item"><a class="nav-link" routerLink="signup" *ngIf="!authenticated">Registrarme</a></li>
                <!-- <li class="nav-item"><a class="nav-link" routerLink="user-administration">User Administration</a></li> -->
            
                <li class="nav-item dropdown" *ngIf="authenticated && usertype('USER')">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                      <i class="fa fa-bell"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-menu-end notifications" aria-labelledby="navbarDropdown">
                        <li *ngFor="let not of notifications">
                            <a [routerLink]="" (click)="openCampaign(not)" class="dropdown-item">
                                <b>{{ not.title }}</b> <br>
                                <p>
                                    {{ not.desc }}
                                    <br>
                                    <span style="float: right;">{{ not.dateAndTime | date }}</span>
                                </p>
                                
                            </a>
                        </li>
                    </ul>
                  </li>
            </ul>
        </div>
    </div>
</nav>

