@import url("../../../assets/styles/homepage.css");

#logout-btn{
    cursor: pointer;
}

li.dropdown .dropdown-toggle::after{
    display: none !important;
}

ul.dropdown-menu{
    font-size: 12px;
    min-width: 300px;
    margin-top: 15px !important;
}