<div class="container content">
    <div class="row">

        <div class="col-lg-4 col-sm-12">
            <div class="card">
                <div style="background-image: url('https://cdn.pixabay.com/photo/2015/11/20/17/29/person-1053543_960_720.jpg');" class="div-img"></div>
                <div class="card-body">
                    <h5 class="card-title">Sarah Guzman</h5>
                    <p class="card-text">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Corporis optio consequuntur nisi accusantium laborum facilis, rem maiores qui id? Temporibus, dicta! Ratione minima quasi asperiores ipsa iure consequatur provident voluptates!</p>
                    <hr>
                    <div class="row">
                        <div class="col-lg-8">
                            <small>
                                <b>Target:  </b> 10/50 Pintas <br>
                                <b>Date End:  </b> 2021-05-01 <br>
                                <b>Donations Recieved: </b> 2
                            </small>
                        </div>
                        <div class="col-lg-4">
                            <button class="btn btn-success btn-status">Active</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-sm-12">
            <div class="card">
                <div style="background-image: url('https://www.incimages.com/uploaded_files/image/1920x1080/getty_481292845_77896.jpg');" class="div-img"></div>
                <div class="card-body">
                    <h5 class="card-title">Roberto Rojas</h5>
                    <p class="card-text">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Corporis optio consequuntur nisi accusantium laborum facilis, rem maiores qui id? Temporibus, dicta! Ratione minima quasi asperiores ipsa iure consequatur provident voluptates!</p>
                    <hr>
                    <div class="row">
                        <div class="col-lg-8">
                            <small>
                                <b>Target:  </b> 10/50 Pintas <br>
                                <b>Date End:  </b> 2021-05-01 <br>
                                <b>Donations Recieved: </b> 2
                            </small>
                        </div>
                        <div class="col-lg-4">
                            <button class="btn btn-success btn-status">Active</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-sm-12">
            <div class="card">
                <div style="background-image: url('https://dss.mo.gov/child-support/img/custodial-parents-tile.png');" class="div-img"></div>
                <div class="card-body">
                    <h5 class="card-title">Marie Perez</h5>
                    <p class="card-text">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Corporis optio consequuntur nisi accusantium laborum facilis, rem maiores qui id? Temporibus, dicta! Ratione minima quasi asperiores ipsa iure consequatur provident voluptates!</p>
                    <hr>
                    <div class="row">
                        <div class="col-lg-8">
                            <small>
                                <b>Target:  </b> 10/50 Pintas <br>
                                <b>Date End:  </b> 2021-05-01 <br>
                                <b>Donations Recieved: </b> 2
                            </small>
                        </div>
                        <div class="col-lg-4">
                            <button class="btn btn-danger btn-status">CLosed</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>