/* @import '~@swimlane/ngx-datatable/index.css'; */
/* @import '~@swimlane/ngx-datatable/themes/material.scss'; */
/* @import '~@swimlane/ngx-datatable/themes/dark.scss'; */
/* @import '~@swimlane/ngx-datatable/themes/bootstrap.scss'; */
/* @import '~@swimlane/ngx-datatable/assets/icons.css'; */

div.content{
    margin-top: 100px;
    padding: 20px 50px;
}

.buttons-column button{
    margin: 0 2px;
    float: right;
}

.color-white{
    color: white;
}

