<div class="container content">
    <div class="row">
        <div class="col-lg-12">
            <table datatable class="table">
                <thead>
                    <tr>
                        <th>Prueba</th>
                        <th>Uno</th>
                        <th>Dos</th>
                        <th>Tres</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>hola 1</td>
                        <td>hola 2</td>
                        <td>hola 3</td>
                        <td>hola 4</td>
                    </tr>
                    <tr>
                        <td>izhe 13</td>
                        <td>izhe 23</td>
                        <td>izhe 33</td>
                        <td>izhe 43</td>
                    </tr>
                    <tr>
                        <td>hola 1</td>
                        <td>hola 2</td>
                        <td>hola 3</td>
                        <td>hola 4</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>