<div class="container content">
    <div class="row">
        <div class="col-lg-4">
            <app-card 
                tittle="Schedule an Appointment" 
                text="Crea una cita usando tu perfil para donar sangre en uno de nuestros centros registrados. La informacion es autocompletada directamente y solo debes agregar tu centro de donacion preferido, el dia y la hora!" 
                href="donate-blood/appointment">
            </app-card>
        </div>
    
        <div class="col-lg-4">
            <app-card 
                tittle="Manage Existing Appointments" 
                text="Si tienes citas pendientes, aqui las podras ver a detalle. Puedes cambiar el horario de alguna de ellas si se te ha presentado alguna eventualidad, pero no dejes de donar!" 
                href="donate-blood/my-appointments">
            </app-card>
        </div>

        <div class="col-lg-4">
            <app-card 
                tittle="My Donation History" 
                text="Aqui podras ver tu historial de citas! No tengas miedo y compartelo con tus amigos :3 cada gota tuya cuenta para salvar una vida!">
            </app-card>
        </div>
    </div>

    
    
</div>

