<div class="container content">
    <div class="row">
        <div class="col-lg-4">
            <app-card 
                tittle="Crear una cita" 
                text="Crea una cita usando tu perfil para donar sangre en uno de nuestros centros registrados. La información es autocompletada directamente y solo debes agregar tu centro de donación preferido, el día y la hora." 
                href="donate-blood/appointment">
            </app-card>
        </div>
    
        <div class="col-lg-4">
            <app-card 
                tittle="Administrar Citas Existentes" 
                text="Si tienes citas pendientes, aquí las podrás verla a detalle. Puedes cambiar el horario de alguna de ellas si se te ha presentado alguna eventualidad, pero no dejes de donar." 
                href="donate-blood/my-appointments">
            </app-card>
        </div>

        <div class="col-lg-4">
            <app-card 
                tittle="Mi Historial de Donaciones" 
                text="Aquí podrás ver tu historial de citas. No tengas miedo y compártelo con tus amigos ❤ cada gota tuya cuenta para salvar una vida!">
            </app-card>
        </div>
    </div>

    
    
</div>

