<header class="masthead">
    <div class="container px-4 px-lg-5 h-100">
        <div class="row gx-4 gx-lg-5 h-100 align-items-center justify-content-center text-center">
            <div class="col-lg-12 align-self-end">
                <h1 class="text-white font-weight-bold">Donar sangre puede cambiar la vida de muchas personas, salva una de ellas!</h1>
                <hr class="divider" />
            </div>
            <div class="col-lg-8 align-self-baseline">
                <p class="text-white-75 mb-5">DonantesRD te ayuda a donar de forma rapida y segura. Ayudanos a salvar vidas con una gota de tu sangre!</p>
                <!-- <a class="btn btn-primary btn-xl" href="#about">Find Out More</a> -->
            </div>
        </div>
    </div>
</header>

<section class="page-section bg-primary" id="about">
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-lg-10 text-center">
                <h2 class="text-white mt-0">Que necesito para donar?</h2>
                <hr class="divider divider-light" />
                <p class="text-white-75 mb-4">
                    Cualquier persona con buena salud puede donar sangre! Simplemente debe de cumplir con los siguientes requisitos:
                </p>
                <div class="row mb-4 text-white-75">
                    <div class="col-lg-6">
                        <i class="fas fa-tint"></i> Buena salud fisica <br>
                        <i class="fas fa-tint"></i> Ayuno de 2 horas <br>
                        <i class="fas fa-tint"></i> No haber padecido Hepatitis B o C, VIH-SIDA, Sifilis, etc... <br>
                        <i class="fas fa-tint"></i> No haberse realizado tatuajes, perforaciones, acupuntura en los ultimos 12 meses
                    </div>
                    <div class="col-lg-6">
                        <i class="fas fa-tint"></i> Peso minimo 110lb <br>
                        <i class="fas fa-tint"></i> No haber recibido transplantes de organos <br>
                        <i class="fas fa-tint"></i> No estar embarazada o lactando <br>
                        <i class="fas fa-tint"></i> No haber consumido bebidas alcoholicas en las ultimas 24 horas
                    </div>
                </div>
            </div>
                
            <div class="text-center">
                <a class="btn btn-light btn-xl" routerLink="/donate-blood/appointment">Quiero donar sangre ya!</a>
            </div>
        </div>
    </div>
</section>

<section class="page-section" id="services">
    <div class="container px-4 px-lg-5">
        <h2 class="text-center mt-0">¿No sabes como donar? Aqui te mostramos los pasos para hacerlo!</h2>
        <hr class="divider" />
        <div class="row gx-4 gx-lg-5">
            <div class="col-lg-4 col-md-6 text-center">
                <div class="mt-5">
                    <div class="mb-2"><i class="fas fa-file-signature icon-s"></i></div>
                    <h3 class="h4 mb-2">1. Registra tu solicitud</h3>
                    <p class="text-muted mb-0">Accede a nuestra pagina y registra tu solicitud de donacion en el centro de donacion de tu preferencia</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 text-center">
                <div class="mt-5">
                    <div class="mb-2"><i class="fas fa-search icon-s"></i></div>
                    <h3 class="h4 mb-2">2. Evaluacion</h3>
                    <p class="text-muted mb-0">El centro de donacion evaluara tu solicitud para confirmar los datos suministrados</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 text-center">
                <div class="mt-5">
                    <div class="mb-2"><i class="fas fa-stethoscope icon-s"></i></div>
                    <h3 class="h4 mb-2">3. Entrevista medica</h3>
                    <p class="text-muted mb-0">Un medico realizara una consulta privada contigo para evaluar que cumplas con los requisitos necesarios como donante</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 text-center">
                <div class="mt-5">
                    <div class="mb-2"><i class="fas fa-syringe icon-s"></i></div>
                    <h3 class="h4 mb-2">4. Extraccion de sangre</h3>
                    <p class="text-muted mb-0">Este es el proceso donde donas sangre, usualmente se tarda entre 10 a 15 minutos</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 text-center">
                <div class="mt-5">
                    <div class="mb-2"><i class="fas fa-couch icon-s"></i></div>
                    <h3 class="h4 mb-2">5. Descanso</h3>
                    <p class="text-muted mb-0">Es importante tomar un descanso al momento de finalizar la extraccion de sangre asi que ponte comodo</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 text-center">
                <div class="mt-5">
                    <div class="mb-2"><i class="fas fa-hamburger icon-s"></i></div>
                    <h3 class="h4 mb-2">6. Merienda</h3>
                    <p class="text-muted mb-0">Luego de donar, deberas comer el refrigerio que te proporconara tu centro de donacion para que puedas recuperar fuerzas</p>
                </div>
            </div>
        </div>
    </div>
</section>

<div id="portfolio">
    <div class="container-fluid p-0">
        <div class="row g-0">
            <div class="col-lg-4 col-sm-6 portfolio-box" style="background-image: url('../../../assets/images/20200705_223949.jpeg')">
                <div class="portfolio-box-caption">
                    <div class="project-category text-white-50">B+</div>
                    <div class="project-name">Javier Ernesto</div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 portfolio-box" style="background-image: url('../../../assets/images/Blood-donation-p8t2w50t31i8t6s3ob0eueciv8b449vxl8s43xfd14.jpeg');">
                <div class="portfolio-box-caption">
                    <div class="project-category text-white-50">AB+</div>
                    <div class="project-name">Maria Lucero</div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 portfolio-box" style="background-image: url('../../../assets/images/blooddonationimplement.xf0563a2a.jpg');">
                <div class="portfolio-box-caption">
                    <div class="project-category text-white-50">O-</div>
                    <div class="project-name">Franklyn Montaz</div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 portfolio-box" style="background-image: url('../../../assets/images/bc5c1cfae516a13ab0cea98a6bb33911.jpeg');">
                <div class="portfolio-box-caption">
                    <div class="project-category text-white-50">Campaña: Caminando por una vida</div>
                    <div class="project-name">278 Donaciones</div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 portfolio-box" style="background-image: url('../../../assets/images/Delta\ -\ Thai\ Red\ Cross\ Society.jpeg');">
                <div class="portfolio-box-caption">
                    <div class="project-category text-white-50">Campaña: Cada gota cuenta</div>
                    <div class="project-name">544 Donaciones</div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 portfolio-box" style="background-image: url('../../../assets/images/blood-donation_gettyimages.webp')">
                <div class="portfolio-box-caption p-3">
                    <div class="project-category text-white-50">Campaña: Te necesitamos! (en curso)</div>
                    <div class="project-name">67 Donaciones</div>
                </div>
            </div>
        </div>
    </div>
</div>



<section id="map" style="padding-top: 8rem;">
    <div class="container px-4 px-lg-5">
        <h2 class="text-center mt-0">Estos son los Centros de Donacion que tenemos disponibles para ti!</h2>
        <hr class="divider" />
        <div class="row gx-4 gx-lg-5">
            
        </div>
    </div>
    <agm-map  [zoom]="12" [latitude]="lat" [longitude]="lng" [scrollwheel]="false">
        <agm-marker *ngFor="let center of donationCenters" [latitude]="center.latitude" [longitude]="center.longitude"></agm-marker>
    </agm-map>
</section>

<section class="page-section" id="services">
    <div class="container px-4 px-lg-5">
        <h2 class="text-center mt-0">Unete y aporta, ellos necesitan de tu sangre!</h2>
        <hr class="divider" />
        <div class="row gx-4 gx-lg-5">
            <div class="col-lg-4 col-sm-12">
                <div class="card">
                    <div style="background-image: url('https://cdn.pixabay.com/photo/2015/11/20/17/29/person-1053543_960_720.jpg');" class="div-img"></div>
                    <!-- <img src="https://cdn.pixabay.com/photo/2015/11/20/17/29/person-1053543_960_720.jpg" class="card-img-top" alt="..."> -->
                    <div class="card-body">
                        <h5 class="card-title">Sarah Guzman</h5>
                        <p class="card-text">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Corporis optio consequuntur nisi accusantium laborum facilis, rem maiores qui id? Temporibus, dicta! Ratione minima quasi asperiores ipsa iure consequatur provident voluptates!</p>
                        <a href="#" class="btn btn-primary" style="float: right;">Donate!</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-12">
                <div class="card">
                    <div style="background-image: url('https://www.incimages.com/uploaded_files/image/1920x1080/getty_481292845_77896.jpg');" class="div-img"></div>
                    <!-- <img src="https://www.incimages.com/uploaded_files/image/1920x1080/getty_481292845_77896.jpg" class="card-img-top" alt="..."> -->
                    <div class="card-body">
                        <h5 class="card-title">Sarah Guzman</h5>
                        <p class="card-text">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Corporis optio consequuntur nisi accusantium laborum facilis, rem maiores qui id? Temporibus, dicta! Ratione minima quasi asperiores ipsa iure consequatur provident voluptates!</p>
                        <a href="#" class="btn btn-primary" style="float: right;">Donate!</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-12">
                <div class="card">
                    <div style="background-image: url('https://dss.mo.gov/child-support/img/custodial-parents-tile.png');" class="div-img"></div>
                    <!-- <img src="https://dss.mo.gov/child-support/img/custodial-parents-tile.png" class="card-img-top" alt="..."> -->
                    <div class="card-body">
                        <h5 class="card-title">Sarah Guzman</h5>
                        <p class="card-text">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Corporis optio consequuntur nisi accusantium laborum facilis, rem maiores qui id? Temporibus, dicta! Ratione minima quasi asperiores ipsa iure consequatur provident voluptates!</p>
                        <a href="#" class="btn btn-primary" style="float: right;">Donate!</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="map">
    <div class="container px-4 px-lg-5">
        <h2 class="text-center mt-0">Nuestros donantes publicos estan dispuestos a darte una gota! </h2>
        <hr class="divider" />
        <div class="row gx-4 gx-lg-5">
            
        </div>
    </div>
    <agm-map  [zoom]="12" [latitude]="lat" [longitude]="lng" [scrollwheel]="false">
        <agm-marker *ngFor="let latlng of donors" [latitude]="latlng.latitude" [longitude]="latlng.longitude"></agm-marker>
    </agm-map>
</section>