
<div class="container content">
    <div class="row">
        <div class="col-lg-4">
            <app-card tittle="User Administration" text="bla bla bla." href="administration/user-administration"></app-card>
        </div>
    
        <div class="col-lg-4">
            <app-card tittle="Blood Banks Administration" text="bla bla bla." href="administration/blood-bank"></app-card>
        </div>

        <div class="col-lg-4">
            <app-card tittle="Donation Center Administration" text="bla bla bla." href="administration/donation-center"></app-card>
        </div>
    </div>

</div>
