
<div class="container content">
    <div class="row">
        <div class="col-lg-4">
            <app-card tittle="Administración de Usuarios" text="Permite modificar atributos de los usuarios como el nombre de usuario, correo electrónico, estatus de donante público, etc." href="administration/user-administration"></app-card>
        </div>
    
       <!--  <div class="col-lg-4">
            <app-card tittle="Blood Banks Administration" text="bla bla bla." href="administration/blood-bank"></app-card>
        </div> -->

        <div class="col-lg-4">
            <app-card tittle="Administración de Centros de Donación" text="Crear y/o modificar centros de donación, permite modificar nombre de usuario, dirección y correo electrónico de los centros de donación ya registrados. " href="administration/donation-center"></app-card>
        </div>
    </div>

</div>
